.team{
}
.member{
    width : 33%;
    height: auto;
}
.member_pic{
    width : 100%;
}
.member_pic img{
    width : 100%;
    opacity: 0.5;
}
.member_desc{
    background-color: black;
    font-size: 1.5vw;
    text-align : center;
    position : relative;
    z-index: -1;
}
.member_details{
    position : relative;
    
}
p{
    color: white;
    padding: 0;
    margin : 0;
}
.social_icon{
    position: relative;
    float: right;
}
.social_icon img{
    width: 40px;
}